{% extends "_layout.html" %}

 {% block title %}{{ profileData['username'] }} Profile{% endblock title %}

{% block cssFiles %}
<link rel="stylesheet"  href="{{url_for('static', filename='css/profile.css')}}"/>
{% endblock %}

{% block content %}
<div class="container">
  <div class="profile-container">
    <div class="prof-img">
      <img src="img/profile.jpg" alt="Profile Image" />
    </div>
    <span class="last-login"><u>Last seen:</u> 5mins ago</span>
    <h2 class="prof-name">{{ profileData['fullname'] }}</h2>
    <div class="prof-main">
      <div class="prof-details">
        <h3>Details</h3>      {# in future replace fields with for and list keys #}
        <ul>
          <li><b>Username: </b>{{ profileData['username'] }}</li>
          <li><b>Email: </b>{{ profileData['email'] }}</li>
          <li><b>Nationality: </b>{{ profileData['nationality'] }}</li>
          <li><b>Mobile Phone: </b>{{ profileData['mobile'] }}</li>
          <li>
            <b>About: </b> {{ profileData['about'] }}
          </li>
        </ul>
      </div>
      <div class="prof-interests">
        <h3>Interests</h3>
        <ul>
          {% for interest in profileData['interests'] %}
            <li><h4 class="interest">{{interest}}</h4></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
