{% extends "_layout.html" %}

 {% block title %}{{ profileData['username'] }} Profile{% endblock title %}

{% block cssFiles %}
<link rel="stylesheet"  href="{{url_for('static', filename='css/profile.css')}}"/>
{% endblock %}

{% block dataStyle %}
  <style>
    .prof-img::after{
      background: url("{{ url_for('static', filename='img/icons/flags/{countryCode}.png'.format(countryCode=profileData['nationality'])) }}");
    }

    {% for interest in interests %}    {# for every interest set image with the use of index #}
      .prof-interests ul li:nth-child({{ loop.index }})  {
        background-image: url("{{ url_for('static', filename='img/interests/{}.jpg'.format(interest['id'])) }}")
      }
    {% endfor %}
  </style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="profile-container">
    <div class="prof-img">
      <img src="{{ url_for('static', filename='img/profiles/{}.jpg'.format(profileData['username']))}}" alt="{{profileData['username']}}'s profile image" />
    </div>
     <span class="last-login"><u>Last seen:</u> {{ profileData['last_login'][0:10] }}</span>
    <h2 class="prof-name">{{ profileData['first_name'] }} {{ profileData['last_name'] }}</h2>
    <div class="prof-main">
      <div class="prof-details">
        <h3>Details</h3>      {# in future replace fields with for and list keys #}
        <ul>
          <li><b>Username: </b>{{ profileData['username'] }}</li>
          <li><b>Email: </b>{{ profileData['email'] }}</li>
          <li><b>Nationality: </b>{{ profileData['nationality']|capitalize }}</li>
          <li><b>Mobile Phone: </b>{{ profileData['mobile'] }}</li>
          <li>
            <b>About: </b> {{ profileData['about'] }}
          </li>
        </ul>
      </div>
      <div class="prof-interests">
        <h3>Interests</h3>
        <ul>
          {% for interest in interests %}
            <li><h4 class="interest">{{interest['description']}}</h4></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
