# Configuration — flake8 2.5.5 documentation - https://bit.ly/346rTxV
# Configuring Flake8 — flake8 3.9.2 documentation - https://bit.ly/2Sf5X10

[flake8]
#ignore = E226,E302,E41
max-line-length = 120
#exclude = tests/*
#max-complexity = 10
