{% extends "_layout.html" %}

{% block title %}Homepage{% endblock title %}

{% block main %}
<div class="container">
  {% if signedIn %}
    <div class="greeting">
      <h1>Welcome, <span class="username">{{ username }}</span>!</h1>
    </div>
    <div class="options">
      <h2>Would you like to..</h2>
      <div class="redirects">
        <a href="{{url_for('profile', username=username)}}">View your profile</a>
        <a href="#" id="logout">Logout</a>
      </div>
    </div>
  {% else %}
    <h1>Hey there!</h1>
    <h2>To view this page you need to sign in first.</h2>
    <a href="{{url_for('login')}}">Sign In</a>
  {% endif %}
</div>
{% endblock %}
