{% extends "_layout.html" %}

{% block title %}Homepage{% endblock title %}

{% block cssFiles %}
<link rel="stylesheet"  href="{{url_for('static', filename='css/home.css')}}"/>
{% endblock cssFiles %}

{% block content %}
<div class="container">
  {% if signedIn %}       {# if user is signed in -> welcome him #}
    <div class="greeting">
      <h1>Welcome, <span class="username">{{ username }}</span>!</h1>
    </div>
    <div class="options">
      <h2>Would you like to..</h2>
      <div class="redirects">
        <a href="{{url_for('profile', username=username)}}">View your profile</a>
        <a href="#" id="logout">Logout</a>
      </div>
    </div>
  {% else %}      {# if user not signed in -> redirect to login #}
    <h1>Hey there!</h1>
    <h2>To view this page you need to sign in first.</h2>
    <a href="{{url_for('login')}}">Sign In</a>
  {% endif %}
</div>
{% endblock %}
