* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 40%, #e6dee9 100%);
    min-height: 100vh;
}

#errorContainer {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#errorContainer > div {
    flex: 1 50%;
}

/* MESSAGE */

.error-msg h1 {
    font-size: 3.5em;
    font-weight: 400;
    margin-bottom: 1rem;
}

.error-msg p {
    font-weight: 200;
    font-size: 1.8em;
}

p {
    margin: 1.5rem 0;
}

/* IMAGE */

.error-svg {
    width: 100%;
}

@media (max-width: 768px) {
    #errorContainer {
        flex-direction: column;
        text-align: center;
    }

    #errorContainer > div {
        flex: 100%;
    }

    .error-msg {
        padding-top: 6rem;
    }

    .error-svg {
        width: 300px;
    }

    .error-msg h1 {
        font-size: 2.5em;
    }

    .error-msg p {
        font-size: 1.2em;
    }
}

/* INHERIT FROM _LAYOUT */

a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.3s;
    position: relative;
}

a::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: rgb(146, 134, 255);
}

a:hover::after {
    transition: width 0.5s ease-in-out;
    width: 100%;
}
