h1,h2 {
    margin: 1rem 0;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.2em;
    }
}

.username {
    font-weight: bold;
}

.redirects {
    margin: 2rem 0;
}

.redirects button:first-child {
    margin-right: 0.5rem;
}


