/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 40%, #e6dee9 100%);
    min-height: 100vh;
}

.container {
    max-width: 1600px;
    margin: 5rem auto;
    padding: 0 0.5rem;
}

/* BUTTONS/A HOVER EFFECT */

button {
    border: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.3s;
    position: relative;
}

a::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: rgb(146, 134, 255); /* default */
}

a:hover::after {
    transition: width 0.5s ease-in-out;
    width: 100%;
}
