<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found - 404 Error</title>
    <link rel="stylesheet" href="style/404.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container404">
        <div class="error-msg">
            <h1>404</h1>
            <h1>SOMETIMES WE ALL <br> LOSE OUR WAY</h1>
            <p>We couldn't find what you were looking for...</p>
        </div>
        <div class="error-svg">
            <img src="./img/Ice cream-01.svg"/>
        </div>
    </div>
</body>
</html>