<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root</title>
    <link rel="stylesheet" href="./style.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="signedIn">
            <div class="greeting">
                <h1>Welcome, <span class="username">Noah Tremblay</span>!</h1>
            </div>
            <div class="options">
                <h2>Would you like to..</h2>
                <div class="redirects">
                    <a href="../profile/profile.html">View your profile</a>
                    <a href="#" id="logout">Logout</a>
                </div>
            </div>
        </div>
        <div class="notSignedIn">
            <h1>Hey there!</h1>
            <h2>To view this page you need to sign in first.</h2>
            <a href="../login/index.html">Sign In</a>
        </div>
    </div>
</body>
</html>