{% extends "_layout.html" %}

 {% block title %}Login{% endblock title %}

{% block cssFiles %}
<link rel="stylesheet"  href="{{url_for('static', filename='css/login.css')}}"/>
{% endblock %}

{# handle error messages #}
{% block dataStyle %}
  <style>
  {% if errors %}
    .flash_msgs::before {
      background-color: red;
    }
    {% for error in errors %}
    .{{error.field}}::after {
      content: "{{error.field}} is invalid";
      display: inline-block;
      color: red;
      margin-left: 1rem;
      font-size:0.9rem
    }
    #{{error.field}} {
      border: 1px solid red;
    }
    {% endfor %}
  {% else %}
    .flash_msgs::before {
      background-color: #8dfe24;
    }
  {% endif %}
  </style>
{% endblock %}


{% block content %}
<div class="login-container">
  <div class="on-top">
    <div class="welcome-container">
      <div class="welcome-text">
        <h1>Hey! Welcome back.</h1>
        <h2><u>Sign in</u> to continue to access pages.</h2>
      </div>
      <img src="{{ url_for('static', filename='img/bckgr.jpg') }}" alt="">
    </div>
    <div class="login">
      <div class="sign-in">
        <img src="{{url_for('static', filename='img/icons/login.svg')}}" />
        <form action="{{ url_for('sign_in') }}" method='post'>
          <label class="username" for="username">Username</label><br />
          <input type="text" id="username" name="username" /><br />
          <label class="password" for="password">Password</label><br />
          <input type="password" id="password" name="password" /><br />
          <button type="submit">
            <span class="button-text">Sign In</span>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z" fill="#626262"/></svg></button>
        </form>
      </div>
    </div>
  </div>
</div>
{% for message in get_flashed_messages() %}
<div class="flash_msgs">
  <small> {{ message }}</small>
</div>
{% endfor %}
{% endblock %}

