{% extends "_layout.html" %}

 {% block title %}Login{% endblock title %}

{% block cssFiles %}
<link rel="stylesheet"  href="{{url_for('static', filename='css/login.css')}}"/>
{% endblock %}

{# handle error messages #}
{% block dataStyle %}
  <style>
  {% for error in errors %}
  .{{error.field}}::after {
    content: "{{error.field}} is invalid";
  }
  #{{error.field}} {
    border: 1px solid red;
  }
  {% endfor %}
  </style>
{% endblock %}


{% block content %}
<div class="login-container">
  <div class="on-top">
    <div class="welcome-container">
      <div class="welcome-text">
        <h1>Hey! Welcome back.</h1>
        <h2><u>Sign in</u> to continue to access pages.</h2>
      </div>
      <img src="{{ url_for('static', filename='img/bckgr.jpg') }}" alt="">
    </div>
    <div class="login">
      <div class="sign-in">
        <img class="sign-in-img" src="{{url_for('static', filename='img/icons/login.svg')}}" />
        <form action="{{ url_for('sign_in') }}" method='post'>
          <label class="username" for="username">Username</label><br />
          <input type="text" id="username" name="username" value="{{ usernameCookie if usernameCookie else ''}}" /><br />
          <label class="password" for="password">Password</label><br />
          <input type="password" id="password" name="password" /><br />
          <button type="submit">
            <span class="button-text">Sign In</span>
            <img class="sign-in-svg" src="{{ url_for('static', filename='img/icons/sign-in.svg')}}" alt="Sign In icon">
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

