* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2.5em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('img/background2.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(1.2);
    box-shadow: 5px 10px rgb(255, 255, 255);
}

.login-container {
    border-radius: 10px;
    border: 2px solid black;
    padding: 1rem 2rem;
    backdrop-filter: blur(25px);
    animation: display 0.8s;
}

@keyframes display {
    from {opacity:0;}
    to {opacity: 1;}
}

@keyframes popup {
    from {opacity:0;}
    to {opacity: 0.8;}
}


/* form */
input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid white;
    margin-bottom: 1.5rem;
}

label {
    color: white;
}

button {
    width: 100%;
    border: 1px solid black;
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/* login-result  */

.login-result img {
    width: 50px;
    margin-bottom: 1rem;
}

.login-result {
    width: 500px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    opacity: 0;
    animation: popup 1s 5s forwards;
}

@media (max-width:500px) {
    .login-result {
        width: calc(100% - 3px);
    }

    h2{
        font-size: 1rem;
    }
}