<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>{% block title %}{% endblock %} - Connectivo</title>     {# Title: ______ - Connectivo #}
    <link rel="stylesheet"  href="{{url_for('static', filename='css/layout.css')}}"/>     {# General CSS #}
    {% block cssFiles %}{% endblock %}      {# Additional CSS #}
    {% endblock %}
    <link rel="icon" href="{{url_for('static', filename='img/favicon.svg')}}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
    {% block dataStyle %}{% endblock %}
</head>
<body>
  {% block sticky %}
  <div class="container stickyTop">
    <div class="logo">
      <img src="{{url_for('static', filename='img/favicon.svg')}}"/>
      <h1>Connectivo</h1>
    </div>
    {# {% with loggedIn=connected %}
      {% include "login_status_bar.html" %}
    {% endwith %} #}
  </div>
  {% endblock %}
  {% block content %}
  {% endblock %}
</body>
</html>
